
.home{
    min-width: 80vw;
    margin: 0 auto;
}

.homeHero{
    border: 1px solid;
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: space-evenly;
    background-image: url("/assets/home/desktop/bg-pattern-hero-home.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #E7816B;
    color: white;

    .intro{
        width:48.6%;
        align-self: center;

        h1{
            font-size: 48px;
        }

        .introBtn{
            padding: 15px 20px;
            border-radius: 10px;
            background-color: #FFAD9B;
            text-decoration: none;
            color: white;
        }
    }

    .introImg{
        height: 89.53%;
        width: 26.46%;
        background-image: url("/assets/home/desktop/image-hero-phone.png");
        background-repeat: no-repeat;
        background-position: center 30%;
        align-self: flex-end;
    }
}



.projectFlex{
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: space-between;
    margin: 15% 0 0 0;

    .webProject{
        width: 49%;
        height: 100%;
        background-image: url("/assets/home/desktop/image-web-design-large.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        color: white;

        a{
            text-decoration: none;
            color: white;
        }
    }

    .projectsSmall{
        width: 49%;
        height:100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
}


.triosFlex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15% 0;
}