// function formatDate(userDate) {
//     // format from M/D/YYYY to YYYYMMDD
//    let date =  userDate.split("/").reverse();
//    let b = date.splice(4,2);
//     date.splice(3,0,b)
//     return date.join("")
  
//   }
  
//   console.log(formatDate("12/31/2014"));

.locationDiv{
    width: 555.5px;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid;
    text-align: center;

    h1{
        text-align: center;
    }

    .bold{
        font-weight: bold;
        margin: 0 0 3px 0;
    }

    .locationInfo{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color:  #FDF3F0;
        border-radius: 15px;

        li{
            list-style: none;
            margin: 0 auto;
        }

    }


}


@media (max-width:768px){

    .locationDiv{
        flex-direction: column;

        .locationInfo{
            width: 100%;
        }

        map{
            border-color: yellow;
        }

    }

}