@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

p{
  font-size: 18px;
}

.App{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.App-header{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 12vh;
  width: 100%;
  // border: 1px solid;
  position: sticky;
  top: 0;
  background-color: white;
  border: 1px solid;

  .App-secondaryHeader{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid;
  
    .headerLogo{
      width: 200px;
    }
    
    .header-links{
      color: black;
      text-decoration: none;
      padding: 5px;

      &:hover{

        animation: Hover1 1s infinite;

      }

    }
  }
}

footer{
  min-height: 20vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1D1C1E;
  color: white;
  

  .abosoluteFooter{
    width: 1111px;
    min-width: 80%;
    height: 292px;
    position: absolute;
    top: -200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E7816B;
    border-radius: 15px;



    .intro{
      width: 459px;
      min-width: 41.3%;
      border: 1px solid;
    }

    .contactBtn{
      display: inline-block;
      padding: 15px 5px;
      color: white;
      border: 1px solid;
    }


  }


  .subFooter{
    width: 80%;
    border: 1px solid;
    margin: 10% 0 0 0;

    .footerDetails{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid white;

    
      .footerLogo{
        width: 200px;
      }
      
      .footer-links{
        color: white;
        text-decoration: none;
        padding: 5px;
        transition: 0.4s all ease-in;

        &:hover{
          animation: Hover1 1s infinite;

        }
      }
    }


    .subSubFooter{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footerContacts a{
        color: unset;
        text-decoration: unset;

        
        &:hover{
            animation: Hover1 1s infinite;
        }
        
        
      }


      .footerSocials{
        width: 184px;
        display: flex;
        justify-content: space-between;
        margin: 40px 0;

        .socials-links{
          
          &:hover{
            transform: scale(1.2);
          }
        }
      }
      
    }









  }
}


@media (max-width:768px){

  


  .App-secondaryHeader {
    flex-direction: column;
    width: 100%;
  }
  .App-secondaryHeader nav {
    width: 100%;
  }
  .App-secondaryHeader nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .App-secondaryHeader nav ul .header-links {
    width: 100%;
  }
  

  .subFooter{
    width: 100%;

    .footerDetails{
      flex-direction: column;
    }
  
    .subSubFooter{
      flex-direction: column;
      text-align: center;
  
      .footerLocations{
        margin: 40px 0;
      }
  
      .footerSocials{
        margin: 40px 0;
      }
    }
  }

  

}







@keyframes Hover1 {
  25%{
    border-top: 1px solid;
  }

  50%{
    border-right: 1px solid;
  }

  75%{
    border-bottom: 1px solid;
  }

  100%{
    border-left: 1px solid;
  }

}

